body {
    background-color: #f0f0f0;
}

.x1 {
    width: 60%;
    padding: 2%;
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 32, 29, 0.7516048655790442) 45%, rgba(252, 176, 69, 1) 100%);

}


@media only screen and (max-width: 750px) {
    .x1 {
        width: 80%;
    }
    .about{
        width: 90%;

    }

    }
}