body {
    background-color: #ffffff;
}

.about{
    width: 60%; 
    margin: 0 auto; 
}

h1,h2,h3,h4,h5,h6{
    color: #7b6067;
}

.fa-3x{
    color: #7b6067;
}

@media only screen and (max-width: 750px) {
    .x1 {
        width: 80%;
    }
    .about{
        width: 90%;
    }
}