* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    display: flex;
    flex-direction: column;
}

h1,
h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
}

h3,
h4,
h5,
h6,
p,
a {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: .8px;
}

nav {
    background-color: #ffcad4;
}

.nav-item,
.navbar-brand,
.nav-link {
    color: #9d8189;
    font-size: 20px;
}

.navbar-brand :hover,
.nav-link:hover {
    color: #7b6067 !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    outline: none;
}

.navbar-toggler {
    outline: none !important;
}

.navbar-brand {
    font-size: 5vh;
    font-family: 'Sacramento', cursive;
    font-weight: 700;
    display: inline-flex;
    align-items: center;
    outline: none;
}

.navbar-brand strong {
    align-self: flex-end;
}

.jumbotron {
    min-height: 50vh;
    border-radius: 0;
    padding: 5vh 0vh;
    background-color: #fff;
}

.jumbotron h4 {
    font-size: 22px;
}

.jumbotron-img {
    height: 35vh;
}

footer {
    margin-top: 50px;
    width: 100%;
    background-color: #ffcad4;
    overflow: hidden;
    min-height: 20vh;
    color: #9d8189;
}

footer strong {
    color: #7b6067;
}

hr {
    border-color: #7b6067;
    width: 100%;
}

.card-deck {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card {
    margin: 5% 10px;
    border: none;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    width: 30% !important;
    border: 2px solid #7b6067;
    border-radius: 15px;
    position: relative;
    z-index: +99;
    overflow: hidden;
}

.card :hover{
    cursor: pointer;
}

.card:hover ::before{
    z-index: -999;
    content: "";
    position: absolute;
    height: 400px;
    width: 400px;
    background-color: #ffcad4;
    border-radius: 40%;
    animation: fill 8s ease-in-out infinite;
}

@keyframes fill{
    0%{
        top: 700px;
        transform: translateX(-10%) rotate(0deg);
    }
    50%{
        top: 250px;
        transform: translateX(-10%) rotate(360deg);
    }
    100%{
        top: 700px;
        transform: translateX(-10%) rotate(0deg);
    }
}

.card-title{
    font-size: 1em;
}
.card-title strong{
    font-size: 1.5em;
}

.card-title strong{
    color: #7b6067;
}

.card img {
    width: 280px;
    margin: auto;
}

.card ul {
    list-style: none;
}

iframe {
    width: 71%;
}

.redirect-button {
    border: none;
    height: 30px;
    width: 100px;
    border-radius: 15px;
    background-color: #7b6067;
    color: #ffcad4;
    outline: none !important;
}

.redirect-button :focus,
.redirect-button:hover {
    outline: none !important;
    box-shadow: none;
    opacity: .9;
    cursor: pointer;
}

@media screen and (max-width : 1000px) {
    .card-deck {
        flex-direction: column;
    }
}

@media screen and (max-width : 450px) {
    p {
        font-size: 11px;
    }

    iframe {
        width: 100%;
    }
}